<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gallery • Images</title>
  </head>
  <body>
    <div class="container">
        <h2>Latest Images</h2>
        <div class="row text-center text-lg-left">
          {% for n in images %}
          <form action="/" method="post">
            <div class="col-lg-3 col-md-4 col-xs-6">
    					<a href="{{config.S3_LOCATION}}/{{n.Key}}" class="d-block mb-4 h-100">
    						<img class="img-fluid img-thumbnail"  src={{config.S3_LOCATION}}/{{n.Key}}></a>
    						{% if current_user.is_authenticated %}
    						<input type=hidden name="delete" value={{n.Key}}>
    					<button type="submit" class="btn btn-primary" name={{n.Key}}>Delete</button>
    						{% endif %}
    				</div>
          </form>
          {% endfor %}
          </div>

          <form action="/" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="user_file">Upload Your File</label>
                <input type="file" class="form-control" placeholder="Filename" name="user_file">
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>

  </body>
</html>
